
 <div class="" id="home">
   <img src="../../assets/banner1.jpg" width="100%">
 </div>
<div class="container" id="services">
  <div class="row main-row">
    <div class="col-md-4 mb-5">
     <div class="card p-3" style="width: 18rem;">
       <img class="card-img-top shadow bg-white rounded" src="../../assets/bar.PNG" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Service 1</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-outline-dark" (click)="service(0)">Read More</button>
       </div>
     </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card p-3" style="width: 18rem;">
        <img class="card-img-top shadow bg-white rounded" src="../../assets/bar.PNG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Service 2</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <button type="button" class="btn btn-outline-dark" (click)="service(1)">Read More</button>
        </div>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card p-3" style="width: 18rem;">
        <img class="card-img-top shadow bg-white rounded" src="../../assets/bar.PNG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Service 3</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <button type="button" class="btn btn-outline-dark" (click)="service(2)">Read More</button>
        </div>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card p-3" style="width: 18rem;">
        <img class="card-img-top shadow bg-white rounded" src="../../assets/bar.PNG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Service 4</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <button type="button" class="btn btn-outline-dark"(click)="service(3)">Read More</button>
        </div>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card p-3" style="width: 18rem;">
        <img class="card-img-top shadow bg-white rounded" src="../../assets/bar.PNG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Service 5</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <button type="button" class="btn btn-outline-dark"(click)="service(4)">Read More</button>
        </div>
      </div>
     </div>
     <div class="col-md-4">
      <div class="card p-3" style="width: 18rem;">
        <img class="card-img-top shadow bg-white rounded" src="../../assets/bar.PNG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Service 6</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <button type="button" class="btn btn-outline-dark" (click)="service(5)">Read More</button>
        </div>
      </div>
     </div>
    </div>
   
</div>